@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

div#iter-content-wrapper {
  margin-top: 70px;
}

.bloque-candidatos .teaser-viewer-title {
  font-family: "Inter", serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 77.45px;
  text-align: left;

}

.bloque-candidatos .noticias .article{
  transform: translate3d(0px, 0, 0);
}