@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* INICIO - header*/
div#iter-content-wrapper {
  margin-top: 70px;
}

.header_contain_dm {
  border-bottom: none;
}

@media (max-width: 991px) {
  div#iter-content-wrapper {
    margin-top: 108px;
  }
}

.cta {
  justify-content: start !important;
}

.header_contain_dm {
  z-index: 99;
}

.navbar {
  row-gap: 20px !important;
  height: auto !important;
  padding: 17px 0 !important;

}

.e-informate {
  background: #141414;
  padding: 6px 19px;
  color: #fff;
  font-family: Inter;
  text-decoration: none;
}

.items-anclados {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: space-between;
}

.items-anclados a {
  color: #fff;
  padding: 6px;
  text-decoration: none;
  font-family: Inter;
  border-radius: 10px;
}

.items-anclados a:hover {
  background: #f3000b;
}

@media(max-width: 767px) {
  .cta {
    width: 100% !important;
  }

  .navbar {
    height: auto !important;
    padding: 17px 0 !important;
    justify-content: center !important;
    row-gap: 20px !important;
  }


}



/*header - FIN*/








/*PORTADA INICIO*/

.r00 #b-000 {
  background: #0B0B0B;
  padding: 70px 0 30px 0
}

.b-port {
  padding-bottom: 90px;
}

.b-port .swiper-pagination-bullet {
  background: #fff !important;
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important;
}

.b-port .swiper-pagination-bullet-active {
  background: #F3000B !important;
}


.card-portada {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.card-portada img {
  width: 100%;
  height: auto;
}

.card-portada h2 {
  font-family: 'Inter';
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #fff;
}

.card-portada a {
  margin-top: 10px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  background: #F3000B;
  padding: 20px 30px;
  text-decoration: none;
  display: inline-block;

}

.card-portada a:hover {
  background: #ca000a;
}

@media (max-width: 991px) {
  .card-portada h2 {
    font-size: 30px;
    line-height: 40px;
  }
}


@media (max-width: 767px) {
  .card-portada {
    display: flex;
    flex-direction: column-reverse;
  }

  .card-portada a {
    padding: 10px 20px;
  }
}


/*PORTADA FIN*/



/*bloque candidatos*/

.bloque-candidatos {
  padding-bottom: 10px;
}

.bloque-candidatos .teaser-viewer-title {
  font-family: "Inter", serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 77.45px;
  text-align: left;
  padding: 74px 0;
  text-align: center;
}

.bloque-candidatos .card-items img {
  width: 100%;
  height: auto;
}

.imagen-candidatos {
  margin: auto;
  display: block;
  padding: 30px 0;
  height: auto;
}

.bloque-candidatos .card-items {
  box-shadow: 0px 3px 15px 0px #00346540;
  padding: 30px;
  height: auto;
  border: 1px solid #98989840;
}


.bloque-candidatos .card-items .card-title {
  margin-top: 15px;
  font-family: "Inter", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-align: left;
  color: #1E1E1E;
}

.bloque-candidatos .card-items a {
  text-decoration: none;
}


.bloque-candidatos .card-items .card-description {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: #1E1E1E;
  margin-top: 20px;

}

.bloque-candidatos .swiper-button-prev,
.bloque-candidatos .swiper-button-next {

  width: 70px !important;
  height: 70px !important;
}

.bloque-candidatos .swiper-button-next,
.bloque-candidatos .swiper-rtl .swiper-button-prev {
  right: 0 !important;
}

.bloque-candidatos .swiper-button-prev {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-image: url("https://estadisticas.ecuavisa.com/sites/gestor/assets-rd%2Fprev.png") !important;
}

.bloque-candidatos .swiper-button-next {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-image: url("https://estadisticas.ecuavisa.com/sites/gestor/assets-rd%2Fnext.png") !important;
}


.bloque-candidatos .swiper-button-next::after,
.bloque-candidatos .swiper-button-prev::after {
  content: "";
}


@media (max-width: 767px) {

  .bloque-candidatos .swiper-button-prev,
  .bloque-candidatos .swiper-button-next {

    width: 40px !important;
    height: 40px !important;
  }
}


/* INICIO -  contador*/

.text-tiempo {
  font-family: Inter;
  font-size: 48px;
  font-weight: 800;
  line-height: 58.09px;
  text-align: left;
  text-align: center;
  margin: 50px 0;
}

.countdown {
  display: flex;
  background-color: #111;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #C8C8C8;
  width: 500px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.time-box span:first-child {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.label {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: lighter;
  text-transform: uppercase;
}

@media(max-width: 767px) {
  .countdown {
    width: 100%;
  }

  .text-tiempo {
    font-size: 28px;
    line-height: 38px;
  }

  .time-box span:first-child {
    font-size: 1.5rem;
  }
}

/* FIN -  contador*/



/* INICIO - BLOQUE ELECCCIONES AL DIA*/


.head_title {
  width: 100%;
  display: block;
  margin: 100px 0;
}

.head_title .title {
  background-color: #F3000B;
  color: white;
  height: 40px;
  width: max-content;
  text-align: center;
  margin: 0 auto;
  clip-path: polygon(11.5% -25.13%, 96.50% -24.00%, 88% 100%, 0% 100%);
  z-index: 5;
  font-family: Inter;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
  letter-spacing: .5px;
  padding-top: 6px;
  padding-left: 10%;
  padding-right: 10%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sololinea .head_title .title {
  background-color: transparent;

}

.head_title .line_title {
  position: relative;
  top: -40px;
  border-bottom: solid 1px #000;
  z-index: -1;
  width: 100%;
}

.ed-izquierda .noticias .article .headline a {
  text-decoration: none;
}

.ed-izquierda .noticias .article .headline a h2 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: #040404;
}

.ed-izquierda .noticias .article .subheadline h3 {
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  line-height: 35.2px;
  text-align: left;
  color: #404040;
}

.ed-izquierda .noticias .article .section {
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  background: #D9D9D9;
  text-decoration: none;
  padding: 5px 20px;
  margin-bottom: 20px;
  display: inline-block;
  color: #737171;
}

.ed-derecha-arriba .noticias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.ed-derecha-arriba .noticias .article .headline a {
  text-decoration: none;
}

.ed-derecha-arriba .noticias .article .headline a h2 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #262626;
}

.ed-derecha-arriba .noticias .article .subheadline h3 {

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #262626;

}

.ed-derecha-arriba .noticias .article {

  background: #fff;
  box-shadow: 0px 3px 15px 0px #00346540;
  padding: 16px;

}




/**/

.ed-derecha-abajo {
  margin-top: 20px;
}

.ed-derecha-abajo .noticias .article .media_block {
  display: none;
}

.ed-derecha-abajo .noticias .article .headline a {
  text-decoration: none;
}

.ed-derecha-abajo .noticias .article .headline a h2 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: #040404;
}

.ed-derecha-abajo .noticias .article .subheadline h3 {
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  line-height: 35.2px;
  text-align: left;
  color: #404040;
}

.ed-derecha-abajo .noticias .article .section {
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  background: #D9D9D9;
  text-decoration: none;
  padding: 5px 20px;
  margin-bottom: 20px;
  display: inline-block;
  color: #737171;
}

/**/

@media (max-width: 768px) {

  .ed-derecha-arriba .noticias .article .headline a h2 {
    font-size: 18px;
    line-height: 20px;
  }

  .ed-derecha-abajo .noticias .article .headline a h2,
  .ed-izquierda .noticias .article .headline a h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .ed-derecha-arriba .noticias .article .headline a h2 {
    font-size: 18px;
    line-height: 23px
  }
}


@media (max-width: 767px) {
  .ed-izquierda .noticias .article .headline a h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .head_title {
    margin: 50px 0;
  }


  .ed-izquierda .noticias .article .subheadline h3 {
    font-size: 18px;
    line-height: 25px;
  }

  .ed-izquierda .noticias .article .section {
    font-size: 12px;
    line-height: 20px;
    padding: 5px 10px;
  }

  .ed-derecha-abajo .noticias .article .headline a h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .ed-derecha-abajo .noticias .article .subheadline h3 {
    font-size: 18px;
    line-height: 25px;
  }

  .ed-derecha-abajo .noticias .article .section {
    font-size: 12px;
    line-height: 20px;
    padding: 5px 10px;
  }

  .ed-derecha-arriba .noticias {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .ed-derecha-arriba .noticias {
    grid-template-columns: none;

  }
}


/* BLOQUE ELECCCIONES AL DIA - FIN */


/* INICIO - BLOQUE GUIA ELECTORAÑ*/

/* .ge-bloque-derecha .noticias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
} */

.ge-bloque-derecha .noticias .article .IMG_TIT {
  position: relative;
}

.ge-bloque-derecha .noticias .article .IMG_TIT img {
  border-radius: 40px;
}

.ge-bloque-derecha .noticias .article .IMG_TIT .text_block {
  position: absolute;
  bottom: 0px;
}

.ge-bloque-derecha .noticias .article .headline a {
  text-decoration: none;
}

.ge-bloque-derecha .noticias .article .headline a h2 {
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #fff;
  padding: 20px;
}


.ge-bloque-izquierda .noticias .article .IMG_TIT {
  position: relative;
}

.ge-bloque-izquierda .noticias .article .IMG_TIT img {
  border-radius: 40px;
}

.ge-bloque-izquierda .noticias .article .IMG_TIT .text_block {
  position: absolute;
  bottom: 0px;
}

.ge-bloque-izquierda .noticias .article .headline a {
  text-decoration: none;
}

.ge-bloque-izquierda .noticias .article .headline a h2 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
  text-align: left;
  color: #fff;
  padding: 20px;
}


/**/

.gallery {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 20px;
  /* max-width: 1200px; */
  width: 100%;
}

.gallery .ge-bloque-derecha .noticias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.gallery .article img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.ge-bloque-izquierda .media_block [frame="crop_160x282"] {
  position: relative;
  height: 100%;
  aspect-ratio: 3 / 4.5;
  overflow: hidden;
  padding-top: 0 !important;
}



@media (max-width: 767px) {

  .gallery {
    grid-template-columns: none;

  }
}

@media (max-width: 575px) {

  .gallery .ge-bloque-derecha .noticias {
    grid-template-columns: none;

  }
}

/* FIN - BLOQUE GUIA ELECTORAÑ*/


/*INICIO - PRIMERA VUELTA*/

.prim-vuelta img,
.segun-vuelta img {
  width: 100%;
  height: auto;
}

.contenedor_pv {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 55px;

}

.texto_2025 {
  background: #800D12;
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.73px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 7px 40px;
}

.texto_primeravuelta {
  text-transform: uppercase;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 800;
  line-height: 58.09px;
  position: absolute;
  right: 0;
  left: 0;

}

.segun-vuelta .texto_2025 {
  background: #0C5A9A;

}

@media (max-width: 991px) {

  .texto_primeravuelta {
    position: initial;
  }

  .contenedor_pv {
    flex-direction: column;
    align-items: flex-start;
  }

  .texto_primeravuelta {
    font-size: 28px;
    line-height: 38px;
    text-align: start;
    margin-top: 10px;
  }
}


/*FIN - PRIMERA VUELTA*/