@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/*header*/
div#iter-content-wrapper {
  margin-top: 70px;
}

.header_contain_dm {
  z-index: 99;
}

.e-informate {
  background: #141414;
  padding: 6px 19px;
  color: #fff;
  font-family: Inter;
  text-decoration: none;
}

.items-anclados a {
  color: #fff;
  padding: 6px;
  text-decoration: none;
  font-family: Inter;
  border-radius: 10px;
}

.items-anclados a:hover {
  background: #f3000b;
}


/*bloque candidatos*/

.bloque-candidatos {
  padding-bottom: 50px;
}

.bloque-candidatos .teaser-viewer-title {
  font-family: "Inter", serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 77.45px;
  text-align: left;
  padding: 74px 0;
  text-align: center;
}

.bloque-candidatos .noticias .article {
  box-shadow: 0px 3px 15px 0px #00346540;
  padding: 30px;
  height: 600px;
}


.bloque-candidatos .noticias .article .headline {
  margin-top: 15px;
}

.bloque-candidatos .noticias .article .headline a {
  text-decoration: none;
}

.bloque-candidatos .noticias .article .headline a h2 {
  font-family: "Inter", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-align: left;
  color: #1E1E1E;
}


.bloque-candidatos .noticias .article .text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: #1E1E1E;
  margin-top: 20px;

}

.swiper-button-prev,
.swiper-button-next {

  width: 70px !important;
  height: 70px !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0 !important;
}

.swiper-button-prev {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-image: url("https://estadisticas.ecuavisa.com/sites/gestor/assets-rd%2Fprev.png") !important;
}

.swiper-button-next {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-image: url("https://estadisticas.ecuavisa.com/sites/gestor/assets-rd%2Fnext.png") !important;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}


/*contador*/

.text-tiempo {
  font-family: Inter;
  font-size: 48px;
  font-weight: 800;
  line-height: 58.09px;
  text-align: left;
  text-align: center;
}

.countdown {
  display: flex;
  background-color: #111;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #C8C8C8;
  width: 500px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.time-box span:first-child {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.label {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: lighter;
  text-transform: uppercase;
}