:root {
    --gray: #D4D4D4;
    --red: #CC1114;
    --dark: #111;
    --light: #f5f3ee;
    --bone: #F3F2ED;
    --bg-gray: #F3F5F8;
}

.r_publicidad {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(150, 150, 150, 0.1));
    background-image: repeating-linear-gradient(45deg,
            /* Ángulo de las líneas */
            rgba(0, 0, 0, 0.05) 0px, rgba(0, 0, 0, 0.05) 5px, rgba(255, 255, 255, 0) 5px, rgba(255, 255, 255, 0) 10px);
    background-size: 200% 200%;
    animation: diagonal-lines 8s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}


.sect-date {
    display: flex;
    gap: 8px;
    align-items: center;
}


.sect-date .article-section .section {
    background: var(--bg-gray);
    padding: 8px;
    font-size: 13px;
}

.sect-date .date {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}

.sect-date .date::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--red);
    /* rojo */
    border-radius: 50%;
    display: inline-block;
}


.R_SEC_DATE_TIT_SUB .headline {
    font-size: 40px;
    margin-bottom: 32px;
    margin-top: 16px;

}

.R_SEC_DATE_TIT_SUB .subheadline {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    font-size: 18px !important;
    margin-bottom: 24px;
}

.r_relacionadas .teaser-related-list article a {
    font-family: 'Zalando Sans';
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    max-width: 100%;
    word-wrap: break-word;
    display: inline-flex;
    align-items: center;
    padding-left: 0;
}

.r_relacionadas h2 {
    padding: 0;
    margin: 0;
    font-size: 16px !important;
    font-weight: 500;
}

.r_relacionadas .relatedContent {
    padding: 16px;
    background: var(--bone);
    border-radius: 0;
}

.r_relacionadas article {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    /* centra verticalmente */
}

.r_relacionadas .icon {
    width: 8px;
    height: 8px;
    background: var(--red);
    margin-right: 10px;
    flex-shrink: 0;
}

.byline.autordiv h2 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}

.image_author img {
    border-radius: 50%;
}


.subtitle_author {
    font-size: 12px;
    font-weight: 400;
}

.byline.autordiv a {
    display: flex;
    align-items: center;
    gap: 16px;
}


.autor-container {
    display: flex;
    align-items: center;
    gap: 48px;
    margin-top: 32px;
    margin-bottom: 24px;
}

.byline.autordiv {
    position: relative;


}

.byline.autordiv:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: -24px;
    width: 1px;
    height: 100%;
    background-color: #d3cfea;
}


.cutline-byline {
    margin-top: 12px;
    margin-bottom: 24px;
}

.cutline-text::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('https://codigomarret.online/upload/img/mayorquerojo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 6px;
    vertical-align: middle;
}

.r-social-icons {
    display: flex;
    gap: 12px;
}

.r-social-icons svg {
    width: 16px;
    height: 16px;
}

.r-social-icons .icon-circle {
    border: 1px solid #333333;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.r-social-icons .icon-circle:hover {
    background-color: #f0f0f0c0;
}

.autor-social-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.vtz-wsp-card {
    display: flex;
    gap: 8px;
    align-items: center;
    background: #111111;
    color: #ffffff;
    padding: 12px 16px;
    border-radius: 30px;
    width: max-content;
}


.vtz-google-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    background: #0a7aed;
    color: #ffffff;
    padding: 12px;
    border-radius: 30px;
    width: auto;
    text-align: center;
    justify-content: center;
}

/* .canal_whatsapp_movil svg {
    width: 16px;
    height: 16px;
} */

.canal_whatsapp_movil {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.vtz-wsp-card:hover {
    background: #000;
    color: #ffffff;
}

.vtz-google-btn:hover {
    background: #0a5eb3;
    color: #ffffff;

}

.text_detail {
    margin-top: 70px;
}


.text_detail a[rel="nofollow"] {
    color: var(--red);
}

.text_detail a {
    color: var(--red);
}

.R_TABOOLA_TAGS {
    margin-top: 22px;
    margin-bottom: 22px;
}

.R_TABOOLA_TAGS .temas {
    display: flex;
    align-items: center;
    gap: 12px;
}

.R_TABOOLA_TAGS .temas .item_tema a {
    background: var(--red);
    padding: 8px;
    font-size: 13px;
    display: block;
    color: #ffffff;
    border-radius: 4px;
}

.r_head_title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #111111;
}


.r_head_title .icon {
    width: 8px;
    height: 8px;
    background: var(--red);
    margin-right: 10px;

}

.r_head_title {
    padding-bottom: 11px;
    margin-bottom: 24px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}


.ultimas-noticias .media_block .text_block>div {
    display: flex;
    flex-direction: column-reverse;
}

.ultimas-noticias .media_block h2 {
    font-size: 16px;
}

.ultimas-noticias .date {
    font-size: 13px;
}

.ultimas-noticias .element:nth-child(1),
.ultimas-noticias .element:nth-child(2) {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--gray);
}


/* LIVE BLOG POSTING */

.portlet-boundary.R_LIVE_BLOG_POST {
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 25px;

    /* padding-left: 40px !important;*/
    /* Espacio adicional para evitar superposición con la línea */
}

.v3 {
    background: #fff !important;
    padding: 20px !important;
    position: relative !important;
    /* Posicionamiento relativo para la línea general */
}

.r_item_post {
    position: relative !important;
    /* Importante para el posicionamiento de la línea */
    padding-left: 20px !important;
    /* Espacio para la línea y punto */
    margin-left: 10px !important;
    /* Asegurar espacio para la línea vertical */
}


.r_point_post {
    position: absolute !important;
    left: -22px !important;
    top: 0px !important;
    width: 24px;
    height: 24px;
    background-image: url(https://codigomarret.online/upload/img/puntorojo1321320192.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.r_item_line {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    height: 100% !important;
}


.r_vertical-line {
    position: absolute !important;
    width: 2px !important;
    background-color: #CC1114 !important;
    left: -11px !important;
    top: 8px !important;
    bottom: 0px !important;
    height: calc(100% + 20px) !important;
}


.r_item_content {
    margin-left: 15px !important;
    /* Espacio adicional para contenido */
}

.r_date_post {
    display: inline;
    background: var(--red);
    padding: 8px;
    font-size: 13px;
    color: #fff;
    border-radius: 4px;
}

.r_headline_post {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.r_text_post p {
    margin-top: 18px !important;
}

.r_social-icons {
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

}

.r_linea_hr {
    border-top: 1px solid #ccc;
    /* Estilo de la línea */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* Agrega sombra debajo de la línea */
}

.r_social-icons a img {
    width: 24px;
    /* O el tamaño que prefieras */
    height: auto;
    cursor: pointer;
    margin-right: 10px;
    background-color: var(--red);
    padding: 5px;
    border-radius: 50%;
    margin-top: 5px;
}

.r_item_post.p_4 {
    background: #f0f0f0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.r_image_post {
    width: 100%;
    /* Asegura que el contenedor de la imagen ocupe todo el ancho disponible de su contenedor padre */
    overflow: hidden;
    /* Oculta cualquier parte de la imagen que se desborde del contenedor */
}

.r_image_post img {
    width: 100%;
    /* Hace que la imagen ocupe el 100% del ancho de su contenedor */
    height: auto;
    /* Mantiene la relación de aspecto de la imagen */
    display: block;
    /* Elimina cualquier espacio extra alrededor de la imagen */
}

.R_LIVE_BLOG_POST p a {
    color: var(--red);
    /* Color del enlace */
    text-decoration: none;
    /* Elimina el subrayado del enlace */
    font-weight: bold;
    /* Hace el texto en negrita */
}

.R_LIVE_BLOG_POST p a:hover {
    color: var(--red);
    /* Color del enlace al pasar el mouse */
    text-decoration: underline;
    /* Subraya el enlace al pasar el mouse */
}

.R_LIVE_BLOG_POST .r_item_post:last-of-type .r_vertical-line {
    opacity: 0;
}


.r_bulletvistazo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.r_bulletvistazo::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--red);
    border-radius: 50%;
    display: inline-block;
}

.r_citavistazo {
    position: relative;
    padding-left: 40px;
    font-size: 28px;
    font-family: serif;
    margin: 24px 0;
}

.r_citavistazo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 24px;
    height: 24px;
    background-image: url(https://codigomarret.online/upload/img/comillasvtz.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


.tag_envivo {
    display: inline-flex;
    gap: 8px;
    margin-bottom: 20px;
    color: var(--red);
    text-transform: uppercase;
    font-weight: 500;
}

.tag_envivo img {
    animation: parpadeo 1s infinite;
}



/* NOTA ESPECIAL */

.nota-especial:before {
    content: "";
    pointer-events: none;
    width: 200%;
    height: 700px;
    background: #111111;
    position: absolute;
    top: -80px;
    padding: 0;
    left: -100%;
    z-index: -1;
}

.nota-especial .R_SEC_DATE_TIT_SUB .headline {
    color: #fff;
}

.nota-especial .R_SEC_DATE_TIT_SUB .subheadline {
    color: #fff;

}

.nota-especial .sect-date .date {
    color: #fff;
}

.R_AUTOR_IMG_REDES_ESPECIALES .autor-container {
    justify-content: space-between;
}

.R_AUTOR_IMG_REDES_ESPECIALES .autor-container .content_info_author {
    display: flex;
    gap: 48px;
}


.styles_contentLayout2__R_In6:before {
    content: "";
    position: absolute;
    background-color: white;
    width: calc(100% + 70px);
    margin: 0 auto;
    top: 0;
    height: 100%;
    z-index: -1;
    left: -36px;
    border-radius: 12px;
}

@keyframes parpadeo {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media (max-width: 767px) {
    .autor-social-footer {
        flex-direction: column;
        align-items: normal;
    }

    .R_AUTOR_IMG_REDES_ESPECIALES .autor-container .content_info_author {
        gap: 16px;
        flex-direction: column;
    }

    .R_AUTOR_IMG_REDES_ESPECIALES .byline.autordiv:nth-child(2)::before {
        opacity: 0;
    }

    .canal_whatsapp_movil {
        margin-bottom: 20px;
    }

    .vtz-wsp-card {
        justify-content: center;
        width: auto;
    }

    .r-social-icons {
        justify-content: center;
    }

    .R_SEC_DATE_TIT_SUB .headline {
        font-size: 20px;
    }

    .R_SEC_DATE_TIT_SUB .subheadline {
        font-size: 14px !important;
    }

    .r_relacionadas h2 {
        font-size: 14px !important;
    }

    .cutline-byline {
        margin-top: 12px;
        margin-bottom: 24px;
        font-size: 13px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .vtz-wsp-text {
        font-size: 12px;
    }

}