:root {
    --gray: #D4D4D4;
    --red: #CC1114;
    --dark: #111;
    --light: #f5f3ee;
    --bone: #F3F2ED;
    --bg-gray: #F3F5F8;
}


.sect-date {
    display: flex;
    gap: 8px;
    align-items: center;
}


.sect-date .article-section .section {
    background: var(--bg-gray);
    padding: 8px;
    font-size: 13px;
}

.sect-date .date {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}

.sect-date .date::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--red);
    /* rojo */
    border-radius: 50%;
    display: inline-block;
}


.headline {
    font-size: 40px;
    margin-bottom: 32px;
    margin-top: 16px;

}

.subheadline {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    font-size: 18px !important;
    margin-bottom: 24px;
}

.r_relacionadas .teaser-related-list article a {
    font-family: 'Zalando Sans';
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    max-width: 100%;
    word-wrap: break-word;
    display: inline-flex;
    align-items: center;
    padding-left: 0;
}

.r_relacionadas h2 {
    padding: 0;
    margin: 0;
    font-size: 16px !important;
    font-weight: 500;
}

.r_relacionadas .relatedContent {
    padding: 16px;
    background: var(--bone);
    border-radius: 0;
}

.r_relacionadas article {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    /* centra verticalmente */
}

.r_relacionadas .icon {
    width: 8px;
    height: 8px;
    background: var(--red);
    margin-right: 10px;
    flex-shrink: 0;
}

.byline.autordiv h2 {
    font-size: 14px;
}

.byline.autordiv a {
    display: flex;
    align-items: center;
    gap: 16px;
}


.autor-container {
    display: flex;
    align-items: center;
    gap: 48px;
    margin-top: 32px;
    margin-bottom: 24px;
}

.byline.autordiv {
    position: relative;


}

.byline.autordiv:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: -24px;
    width: 1px;
    height: 100%;
    background-color: #d3cfea;
}


.cutline-byline {
    margin-top: 12px;
    margin-bottom: 24px;
}

.cutline-text::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('https://codigomarret.online/upload/img/mayorquerojo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 6px;
    vertical-align: middle;
}

.r-social-icons {
    display: flex;
    gap: 12px;
}

.r-social-icons svg {
    width: 16px;
    height: 16px;
}

.r-social-icons .icon-circle {
    border: 1px solid #333333;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.r-social-icons .icon-circle:hover {
    background-color: #f0f0f0c0;
}

.autor-social-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.vtz-wsp-card {
    display: flex;
    gap: 8px;
    align-items: center;
    background: #111111;
    color: #ffffff;
    padding: 12px 16px;
    border-radius: 30px;
    width: max-content;
}


.vtz-google-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    background: #0a7aed;
    color: #ffffff;
    padding: 12px;
    border-radius: 30px;
    width: auto;
    text-align: center;
    justify-content: center;
}

/* .canal_whatsapp_movil svg {
    width: 16px;
    height: 16px;
} */

.canal_whatsapp_movil {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.vtz-wsp-card:hover {
    background: #000;
    color: #ffffff;
}

.vtz-google-btn:hover {
    background: #0a5eb3;
    color: #ffffff;

}

.text_detail {
    margin-top: 70px;
}


.text_detail a[rel="nofollow"] {
    color: var(--red);
}

.text_detail a {
    color: var(--red);
}

@media (max-width: 767px) {
    .autor-social-footer {
        flex-direction: column;
        align-items: normal;

    }

    .canal_whatsapp_movil {
        margin-bottom: 20px;
    }

    .vtz-wsp-card {
        justify-content: center;
        width: auto;
    }

    .r-social-icons {
        justify-content: center;
    }

    .headline {
        font-size: 20px;
    }

    .subheadline {
        font-size: 14px !important;
    }

    .r_relacionadas h2 {
        font-size: 14px !important;
    }

    .cutline-byline {
        margin-top: 12px;
        margin-bottom: 24px;
        font-size: 13px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .vtz-wsp-text {
        font-size: 12px;
    }

}