:root {
    --gray: #D4D4D4;
    --red: #CC1114;
    --dark: #111;
    --light: #f5f3ee;
    --bone: #F3F2ED;
    --bg-gray: #F3F5F8;
}
body {
  font-family: 'Zalando Sans', sans-serif;
}
.microvistazos{
    background: black;
    color: white;
    padding: 3rem;
    margin-bottom: 5rem;
}

/* Titulo del Bloque*/
.section-title {
    position: relative;
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid var(--gray);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 36px;
}
.section-title .title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}
.section-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(60%);
    height: 4px;
    width: 30px;
    background: var(--red);
}

/* Categoria*/
.sect-date {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 0.5rem;
}
.sect-date .article-section .section {
    background: var(--bg-gray);
    padding: 8px;
    font-size: 13px;
}
.listado_notas .sect-date .article-section .section {
    background: white;
}
.sect-date .date {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}
.sect-date .date::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--red);
    border-radius: 50%;
    display: inline-block;
}

.microvistazos h1{
    font-size: 28px;
}
.microvistazos p{
    font-size: 16px;
}

/* Bloque Destacadas*/
.tresnotas,
.listado_notas{
    margin-top: 2rem;
}
.tresnotas .noticias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    margin-bottom: 5rem;
}
.tresnotas .inf2{
    display: none;
}
.tresnotas article .headline{
    position: relative;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 1.2rem;
}
.tresnotas .text_block{
    margin-top: 0.7rem;
}

/*   LISTADO DE NOTAS  */
.listado_notas article{
    background: #F3F5F8;
    padding: 1rem;
    margin-bottom: 1.5rem;
}
.listado_notas .media_block{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 24px;
}
.listado_notas .text_block a{
    text-decoration: none !important;
    color: inherit;
}
.listado_notas .text_block .headline{
    font-size: 16px;
    font-weight: 500;
    margin: 0.5rem 0 1rem 0;
}
.listado_notas .sect-date{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 12px;
}
.listado_notas .autor-nombre{
    display: none;
}
.listado_notas .text_block .headline a{
    text-decoration: none !important;
    color: inherit;
}
.listado_notas .text_block .headline h2{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    margin: 10px 0 6px 0;
    color: #1a1a1a !important;
    height: 115px;
}

/* Paginador */
.listado_notas .carrusel{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    margin-top: 3rem;
}
.listado_notas .prev-button,
.listado_notas .next-button{
    background: var(--red);
    padding: 0.5rem;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
}
.listado_notas .carrusel ul {
    display: flex;
    align-items: center;
    gap: 25px;
}
.listado_notas .carrusel ul .nav-page-selected{
    color:  var(--red);
    text-decoration: underline;
}


@media (max-width: 768px) {
.podcast{
    padding: 0 1rem;
}
.microvistazos {
    padding: 1rem;
    margin-bottom: 3rem;
}
.tresnotas .noticias {
    display: grid;
    grid-template-columns: 1fr;
}
.microvistazos h1{
    font-size: 20px;
}
.microvistazos p{
    font-size: 14px;
}
}