:root {
    --gray: #D4D4D4;
    --red: #CC1114;
    --dark: #111;
    --light: #f5f3ee;
    --bone: #F3F2ED;
    --bg-gray: #F3F5F8;
}
body {
  font-family: 'Zalando Sans', sans-serif;
}
.microvistazos{
    background: black;
    color: white;
    padding: 3rem;
}

/* Titulo del Bloque*/
.section-title {
    position: relative;
    border-bottom: 1px solid var(--gray);
}
.section-title .title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}
/* Categoria*/
.sect-date {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 0.5rem;
}
.sect-date .article-section .section {
    background: var(--bg-gray);
    padding: 8px;
    font-size: 13px;
}
.sect-date .date {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}
.sect-date .date::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--red);
    border-radius: 50%;
    display: inline-block;
}

/* Bloque Destacadas*/
.tresnotas{
    margin-top: 4rem;
}
.tresnotas .noticias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    margin-bottom: 5rem;
}
.tresnotas .inf2{
    display: none;
}
.tresnotas article .headline{
    position: relative;
    font-weight: 600;
}
.tresnotas article .headline::after {
    content:"";
    position:absolute;
    left:0;
    width:90px;
    height:32px;
    background-image:url("https://codigomarret.online/upload/img/reprducir.svg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

/*   LISTADO DE NOTAS  */
.listado_notas article{
    background: #F3F5F8;
    padding: 1rem;
    margin-bottom: 2rem;
}
.listado_notas .media_block{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 24px;
}
.listado_notas .text_block a{
    text-decoration: none !important;
    color: inherit;
}
.listado_notas .sect-date{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 12px;
}
.listado_notas .autor-nombre{
    display: none;
}
.listado_notas .text_block .headline a{
    text-decoration: none !important;
    color: inherit;
}
.listado_notas .text_block .headline h2{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    margin: 10px 0 6px 0;
    color: #1a1a1a !important;
    height: 115px;
}