:root {
    --gray: #D4D4D4;
    --red: #CC1114;
    --dark: #111;
    --light: #f5f3ee;
    --bone: #F3F2ED;
    --bg-gray: #F3F5F8;
}

@keyframes sb-pulse {

    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: .4;
        transform: scale(.7);
    }
}

/* APERTURA */

.parent-nav.lst.cf {
    width: 100%;
}

.bloque-apertura .col-55-45 .container:nth-child(1) {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--gray);

}

.apertura-principal .media_block {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.apertura-principal .media_block>* {
    flex: 1 1 300px;
}

.sect-date {
    display: flex;
    gap: 8px;
    align-items: center;
}


.sect-date .article-section .section {
    background: var(--bg-gray);
    padding: 8px;
    font-size: 13px;
}

.sect-date .date {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}

.sect-date .date::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--red);
    /* rojo */
    border-radius: 50%;
    display: inline-block;
}

.apertura-principal .headline h2 {
    font-size: 34px;
}

.apertura-principal .autor-nombre {
    padding: 16px 0;
}

.apertura-principal .subheadline h3 {
    font-size: 14px;
}

.mas-destacados .R_TIT {
    display: flex;
    gap: 20px;
}

.mas-destacados .headline h2 {
    font-size: 14px;
}

.mas-destacados .r_numeracion {
    font-size: 18px;
    color: var(--red);
}

.mas-destacados .element {
    border-bottom: 1px solid var(--gray);
    padding: 16px 0;
}

.mas-destacados .teaser-viewer-title {
    position: relative;
    padding-bottom: 13px;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--gray);
    font-weight: 600;
}

.mas-destacados .teaser-viewer-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(60%);
    height: 4px;
    width: 30px;
    background: var(--red);
}

/* APERTURA SECUNDARIO */

.bloque-uno .noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* izquierda más grande */
    gap: 24px;
}

/* Primer artículo ocupa toda la columna izquierda */
.bloque-uno .noticias article:first-child {
    grid-row: 1 / span 3;
    /* ocupa el alto de los 3 de la derecha */
}

/* Opcional: que los demás se comporten como lista vertical */
.bloque-uno .noticias article:not(:first-child) {
    display: block;
}


.bloque-uno .headline h2 {
    font-size: 24px;
}

.bloque-uno .headline h2 {
    font-size: 16px;
}

.bloque-uno .noticias article:nth-child(1) .media_block {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.bloque-uno .noticias article:nth-child(2) {
    border-bottom: 1px solid var(--gray);
    padding-bottom: 24px;
}

.bloque-uno .noticias article:nth-child(4) {
    border-top: 1px solid var(--gray);
    padding-top: 24px;
}

.bloque-uno .noticias article:nth-child(2) .media_block,
.bloque-uno .noticias article:nth-child(3) .media_block,
.bloque-uno .noticias article:nth-child(4) .media_block {
    display: grid;
    gap: 24px;
    grid-template-columns: 2fr 1fr;
}


/* APERTURA SECUNDARIO - SWIPER RIVISTA */



.bloque-dos-revista {
    background: var(--bone);
    padding: 18px;
}


/* ── Brand ── */
.brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand span {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .05em;
    text-transform: uppercase;
    padding: 4px 12px;
    margin-bottom: 16px;
    color: var(--light);
    background: var(--dark);
}


/* ── Slider ── */
.slider-wrapper {
    width: 100%;
    max-width: 320px;
    margin: auto;
}

.slider-clip {
    overflow: hidden;
    /* cursor: grab; */
}

.slider-clip.dragging {
    cursor: grabbing;
}

.slider-track {
    display: flex;
    will-change: transform;
}

/* ── Card ── */
.slide {
    flex: 0 0 100%;
    overflow: hidden;
    pointer-events: none;
}

.cover {
    width: 100%;
    /* aspect-ratio: 3/2; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.cover-bg {
    position: absolute;
    inset: 0;
}

.cover-content {
    position: relative;
    z-index: 1;
}

.cover-logo {
    font-size: 1.7rem;
    font-weight: 900;
    color: #fff;
    letter-spacing: .04em;
    border: 2px solid #fff;
    padding: 2px 12px;
    margin-bottom: 14px;
}

.cover-headline {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.25;
    text-transform: uppercase;
    text-shadow: 0 2px 6px rgba(0, 0, 0, .5);
}

.cover img {
    width: 160px;
    height: 200px;
    object-fit: contain;
}

.slide-info {
    padding: 16px 18px 20px;
    text-align: center;
}

.slide-edition {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .12em;
    text-transform: uppercase;
    margin-bottom: 6px;
    padding: 4px;
    background: #fff;
}

.slide-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.slide-btn {
    display: block;
    width: 100%;
    background: var(--red);
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    letter-spacing: .05em;
    text-transform: uppercase;
    transition: background 0.2s;
    pointer-events: all;
}

.slide-btn:hover {
    background: #b01f1f;
    color: #fff;
}

/* ── Dots ── */
.dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 14px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ccc;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: background 0.2s, transform 0.2s;
}

.dot.active {
    background: var(--red);
    transform: scale(1.4);
}

.drag-hint {
    margin-top: 10px;
    font-size: .68rem;
    color: #bbb;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
}


/* BLOQUE DE INVESTIGACION */

.bg-investigacion {
    background: var(--bone);
    padding: 36px;
    margin: 50px 0;
}

.investigacion-principal {
    border-bottom: 2px solid var(--gray);
    padding-bottom: 36px;
}

.investigacion-lista {
    padding-top: 36px;
    padding-bottom: 36px;
}

.investigacion-principal .media_block {
    display: flex;
    gap: 24px;
    align-items: center;
}

.investigacion-principal .headline h2 {
    font-size: 24px;
}

.investigacion-principal .autor-nombre {
    padding: 16px 0;
    font-size: 13px;
}

.investigacion-principal .subheadline h3 {
    font-size: 14px;
}

.section-title {
    position: relative;
    padding-bottom: 15px;
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid var(--gray);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 36px;
}

.section-title a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(60%);
    height: 4px;
    width: 30px;
    background: var(--red);
}

.investigacion-lista .noticias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.investigacion-lista .noticias .headline h2 {
    font-size: 16px;
}

.investigacion-lista .noticias .article-section,
.investigacion-lista .noticias .date {
    font-size: 13px;

}

.investigacion-lista .noticias .date {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}

.investigacion-lista .noticias .date::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--red);
    border-radius: 50%;
    display: inline-block;
}

.investigacion-lista .noticias .media_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}


/* BLOQUE ACTUALIDAD */

.bloque-actualidad .media_block {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
}

.bloque-actualidad .mobile-act-nac {
    margin-bottom: 36px;
}

.bloque-actualidad .mobile-act-nac .media_block {
    display: flex;
    flex-direction: column;
    gap: 0;
    background: var(--bone);
}

.bloque-actualidad .date {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}

.bloque-actualidad .date::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--red);
    /* rojo */
    border-radius: 50%;
    display: inline-block;
}

.bloque-actualidad .mobile-act-nac .text_block {
    padding: 18px;
}

.bloque-actualidad .mobile-act-nac .autor-nombre,
.bloque-actualidad .mobile-act-nac .subheadline,
.bloque-actualidad .mobile-act-nac .article-section {
    display: none;
}

.bloque-actualidad .mobile-act-nac .headline h2 {
    font-size: 20px;
}




.bloque-actualidad .noticias .headline h2 {
    font-size: 18px;
    margin: 0;
}

.bloque-actualidad .act-nac .noticias article:nth-child(1),
.bloque-actualidad .act-inter .noticias article:nth-child(1) {
    padding-bottom: 16px;
}

.bloque-actualidad .act-nac .noticias article:nth-child(2),
.bloque-actualidad .act-inter .noticias article:nth-child(2) {

    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    padding: 16px 0;
}

.bloque-actualidad .act-nac .noticias article:nth-child(3),
.bloque-actualidad .act-inter .noticias article:nth-child(3) {

    padding-top: 16px;
}

.bloque-actualidad .date {
    font-size: 13px;
    margin-bottom: 16px;
}


.bloque-actualidad .inter-mobile .media_block {
    grid-template-columns: none;
}

.bloque-actualidad .inter-mobile article {
    border-bottom: 1px solid var(--gray);
    padding-bottom: 16px;
}

.bloque-actualidad .inter-mobile article:nth-child(2),
.bloque-actualidad .inter-mobile article:nth-child(3),
.bloque-actualidad .inter-mobile article:nth-child(4) {
    padding-top: 16px;
}




/* BLOQUE MUNDO */

.titulo-mundo {
    margin-top: 72px;
}

.bloque-mundo {
    margin-bottom: 52px;
}


.bloque-mundo .col-33-33-33-top-one-col .headline h2 {
    font-size: 20px;
    margin: 0;
}

.bloque-mundo .col-33-33-33-top-one-col .article-section {
    display: none;
}

.bloque-mundo .col-33-33-33-top-one-col .date {
    margin-top: 16px;
}

.bloque-mundo .col-33-33-33-top-two-col .headline h2 {
    font-size: 20px;
    margin: 0;
}


.bloque-mundo .col-33-33-33-top-two-col .noticias article:nth-child(1),
.bloque-mundo .col-33-33-33-top-three-col .noticias article:nth-child(1) {
    padding-bottom: 16px;

}

.bloque-mundo .col-33-33-33-top-two-col .noticias article:nth-child(2),
.bloque-mundo .col-33-33-33-top-three-col .noticias article:nth-child(2) {
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    padding: 16px 0;

}

.bloque-mundo .col-33-33-33-top-two-col .noticias article:nth-child(3),
.bloque-mundo .col-33-33-33-top-three-col .noticias article:nth-child(3) {
    padding-top: 16px;

}

.bloque-mundo .date {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    margin-bottom: 16px;
}

.bloque-mundo .date::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--red);
    /* rojo */
    border-radius: 50%;
    display: inline-block;
}

.bloque-mundo .col-33-33-33-top-three-col .headline h2 {
    font-size: 16px;
    margin: 0;
}

.bloque-mundo .col-33-33-33-top-three-col .media_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}


/* BLOQUE OPINION */

.bloque-opinion {
    margin-bottom: 52px;
}

.bloque-opinion .op-uno .media_block {
    display: flex;
    gap: 24px;
}

.bloque-opinion .image_author img {
    border-radius: 50%;
}

.bloque-opinion .op-uno .media_block .headline h2 {
    font-size: 24px;
}

.bloque-opinion .op-uno .media_block .text p {
    font-size: 16px;
}

.bloque-opinion .op-uno .media_block .autor-nombre {
    font-size: 13px;
}

.bloque-opinion .op-dos .noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
}

.bloque-opinion .op-dos .noticias article:nth-child(1),
.bloque-opinion .op-dos .noticias article:nth-child(2) {
    border-bottom: 1px solid var(--gray);
    margin-bottom: 24px;
    padding-bottom: 24px;
}

.bloque-opinion .op-dos .media_block {
    display: flex;
    gap: 24px;
}

.bloque-opinion .op-dos .media_block .headline h2 {
    font-size: 20px;
}

.bloque-opinion .op-dos .media_block .text p {
    display: none;
}

.bloque-opinion .op-dos .media_block .autor-nombre {
    font-size: 13px;
}


/* BLOQUE NEGOCIO */

.titulo-negocios .logo-negocios {
    padding: 12px 16px;
    margin-bottom: 36px;
    background: var(--bg-gray);
}

.titulo-negocios .section-title {
    margin-bottom: 16px;
}

.bloque-negocios {
    margin-bottom: 52px;
}

.bloque-negocios .depo-dos .date,
.bloque-negocios .depo-tres .date {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}

.bloque-negocios .depo-uno .date {
    margin-top: 16px;
}

.bloque-negocios .date {
    margin-bottom: 16px;
}

.bloque-negocios .depo-dos .date::before,
.bloque-negocios .depo-tres .date::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--red);
    border-radius: 50%;
    display: inline-block;
}

.bloque-negocios .headline h2 {
    font-size: 20px;
}



.bloque-negocios .depo-tres .headline h2 {
    font-size: 16px;
}

.bloque-negocios .autor-nombre,
.bloque-negocios .subheadline,
.bloque-negocios .article-section {
    display: none;
}


.bloque-negocios .depo-dos .noticias article:nth-child(1),
.bloque-negocios .depo-dos .noticias article:nth-child(2) {
    border-bottom: 1px solid var(--gray);
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.bloque-negocios .depo-tres .media_block {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}

.bloque-negocios .depo-tres .noticias article:nth-child(1),
.bloque-negocios .depo-tres .noticias article:nth-child(2) {
    border-bottom: 1px solid var(--gray);
    margin-bottom: 16px;
    padding-bottom: 16px;
}



/* BLOQUE DEPORTES */

.titulo-deportes .logo-deportes {
    padding: 12px 16px;
    margin-bottom: 36px;
    background: var(--bg-gray);
}

.titulo-deportes .section-title {
    margin-bottom: 16px;

}

.bloque-deportes {
    margin-bottom: 52px;
}

.bloque-deportes .depo-dos .date,
.bloque-deportes .depo-tres .date {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}

.bloque-deportes .depo-uno .date {
    margin-top: 16px;
}

.bloque-deportes .date {
    margin-bottom: 16px;
}

.bloque-deportes .depo-dos .date::before,
.bloque-deportes .depo-tres .date::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--red);
    border-radius: 50%;
    display: inline-block;
}

.bloque-deportes .headline h2 {
    font-size: 20px;
}



.bloque-deportes .depo-tres .headline h2 {
    font-size: 16px;
}

.bloque-deportes .autor-nombre,
.bloque-deportes .subheadline,
.bloque-deportes .article-section {
    display: none;
}


.bloque-deportes .depo-dos .noticias article:nth-child(1),
.bloque-deportes .depo-dos .noticias article:nth-child(2) {
    border-bottom: 1px solid var(--gray);
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.bloque-deportes .depo-tres .media_block {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}

.bloque-deportes .depo-tres .noticias article:nth-child(1),
.bloque-deportes .depo-tres .noticias article:nth-child(2) {
    border-bottom: 1px solid var(--gray);
    margin-bottom: 16px;
    padding-bottom: 16px;
}


/* BLOQUE PATROCINADO */

.bloque-patrocinado {
    margin-bottom: 52px;
}

.bloque-patrocinado .noticias {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.bloque-patrocinado .headline h2 {
    font-size: 14px;
    margin-top: 16px;
}


/* BLOQUE EVENTO DEL MES */


.bloque-eventodelmes .media_block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 24px;
}

.bloque-eventodelmes .media_block .headline h2 {
    font-size: 24px;
    margin: 20px 0;
}

.bloque-eventodelmes .media_block .subheadline h3 {
    font-size: 16px;
}

.bloque-eventodelmes .media_block .autor-nombre,
.bloque-eventodelmes .media_block .article-section {
    display: none;
}

.bloque-eventodelmes {
    background: var(--bone);
    padding: 36px;
    margin: 50px 0;
}


/* BLOQUE EVENTOs */

.bloque-eventos {
    margin-bottom: 52px;
}

.bloque-eventos .ev-uno .headline h2 {
    font-size: 24px;
    margin-bottom: 0;
}


.bloque-eventos .ev-dos .headline h2 {
    font-size: 20px;
}

.bloque-eventos .ev-tres .headline h2 {
    font-size: 16px;
    margin-top: 12px;
}

.bloque-eventos .col-50-50-top-two-col {
    display: flex;
    column-gap: 24px;
}

.bloque-eventos .ev-tres .noticias article:nth-child(1),
.bloque-eventos .ev-tres .noticias article:nth-child(2) {
    border-bottom: 1px solid var(--gray);
    margin-bottom: 16px;
    padding-bottom: 16px;
}

/* BLOQUE CARTAS */

.bloque-cartas {
    margin-bottom: 52px;
}

.bloque-cartas .headline h2 {
    font-size: 24px;
}

.bloque-cartas .noticias {
    display: flex;
    gap: 24px;
}

.bloque-cartas .noticias .article {
    padding: 32px;
    background: var(--bone);
}

.bloque-cartas .text {
    font-size: 14px;
}

.bloque-cartas .avatar-group {
    display: flex;
    align-items: center;
}

.bloque-cartas .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid white;
    overflow: hidden;
    margin-left: -15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.bloque-cartas .avatar:first-child {
    margin-left: 0;
}

.bloque-cartas .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.car-main {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 36px;
    justify-content: space-between;
}

.car-main .ava-tex {
    display: flex;
    gap: 20px;
    align-items: center;
}

.car-main .b-texto p {
    margin-bottom: 0;
    font-size: 20px;
    color: var(--dark);
}

.car-main .b-boton a {
    padding: 8px 16px;
    background: var(--red);
    color: var(--light);
    font-size: 14px;
    border-radius: 4px;
}

/* BLOQUE ESPECIAL */

.bloque-especial {
    margin-bottom: 52px;
}

.bloque-especial .es-head img {
    width: 100%;
}

.bloque-especial .col-30-70-top-one-col .htmlcontainer-portlet {
    background: #E8F0F6;

}

.bloque-especial .es-head p {
    font-size: 14px;
    text-align: center;
    padding: 24px;
    margin-bottom: 0;
}

.bloque-especial .es-head hr {
    margin: 0;
}

.bloque-especial .es-fot {
    display: flex;
    padding: 24px;
    align-items: center;
    gap: 17px;
    justify-content: center;
    border-bottom: 2px solid #0F5D9C;
}

.bloque-especial .es-fot p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}

.bloque-especial .es-fot img {
    width: 87px;
}

.bloque-especial .noticias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.bloque-especial .headline h2 {
    font-size: 16px;
}

.bloque-especial .sect-date {
    margin: 6px 0;
}


/* BLOQUE HOGAR */

.titulo-hogar {
    /* margin-bottom: 36px; */
    background: var(--bone);
    padding: 36px 24px;
}

.bloque-hogar {
    margin-bottom: 52px;
    background: var(--bone);
    padding: 0 24px 36px 24px;
}

.bloque-hogar .sect-date .article-section .section{
    background: none;
    padding: 0;

}

.bloque-hogar .media_block {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
}

.bloque-hogar .noticias .headline h2 {
    font-size: 18px;
    margin: 0;
}

.bloque-hogar .date {
    font-size: 13px;
}

.bloque-hogar .ho-uno .noticias article:nth-child(1),
.bloque-hogar .ho-dos .noticias article:nth-child(1) {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--gray);
}

.bloque-hogar .ho-uno .noticias article:nth-child(2),
.bloque-hogar .ho-dos .noticias article:nth-child(2) {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--gray);
}


/* BLOQUE SERVICIOS */

.bloque-servicios {
    margin-bottom: 52px;
}

.bloque-servicios .headline h2 {
    font-size: 16px;
}


.bloque-servicios .noticias article:nth-child(1) {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--gray);
}



/* BLOQUE SOSTENIBILIDAD */

.bloque-sostenibilidad {
    margin-bottom: 52px;
}

.bloque-sostenibilidad .article-section {
    display: none;
}

.bloque-sostenibilidad .sect-date {
    margin-bottom: 16px;
}

.bloque-sostenibilidad .sos-uno .headline h2 {
    font-size: 24px;
}

.bloque-sostenibilidad .sos-uno .subheadline h3 {
    font-size: 16px;
}

.bloque-sostenibilidad .sos-uno .autor-nombre {
    padding: 16px 0;
}

.bloque-sostenibilidad .sos-uno .media_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 36px;
}

.bloque-sostenibilidad .sos-dos .media_block {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 24px;
}

.bloque-sostenibilidad .sos-dos .headline h2 {
    font-size: 16px;
}

.bloque-sostenibilidad .sos-dos .noticias article:nth-child(1),
.bloque-sostenibilidad .sos-dos .noticias article:nth-child(2) {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--gray);
}

.bloque-sostenibilidad .autor-nombre {
    font-size: 13px;
}

.bloque-sostenibilidad .sos-tres .headline h2 {
    font-size: 20px;
}

.bloque-sostenibilidad .sos-tres .noticias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.bloque-sostenibilidad .sos-tres .noticias .media_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

/* BLOQUE EDICIÓN IMPRESA */

.bloque-revistas {
    margin-bottom: 52px;
    background: var(--bone);
    padding: 36px;
}

.bloque-revistas .edicion-impresa {
    width: 100%;
}

.bloque-revistas .edicion-impresa .revista-card {
    background: #fff;
    padding: 16px;
}

.bloque-revistas .edicion-impresa #revistas-wrapper {
    padding-bottom: 50px;
}

.bloque-revistas .edicion-impresa .revista-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}

.bloque-revistas .edicion-impresa .revista-badge span {
    background: #f8e287;
    padding: 4px 8px;
    border-radius: 30px;
    font-size: 13px;
}


.bloque-revistas .edicion-impresa .swiper-revistas {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    /* crítico */
}

.bloque-revistas .edicion-impresa .revista-cover {
    margin-bottom: 16px;
}

.bloque-revistas .edicion-impresa .revista-cover img {
    aspect-ratio: 258 / 320;
    object-fit: cover;
}

.bloque-revistas .edicion-impresa .revista-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.bloque-revistas .edicion-impresa .revista-footer .price-value {
    font-size: 20px;
    font-weight: 500;
}

.bloque-revistas .edicion-impresa .revista-footer .revista-price {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.bloque-revistas .edicion-impresa .revista-btn {
    padding: 8px 20px;
    background: var(--red);
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
}

.bloque-revistas .swiper-pagination-bullet {
    background: var(--red);
    height: 10px;
    width: 10px;
}

.bloque-revistas .price-label {
    font-size: 14px;
}

/* Forzar ancho correcto en los slides */
.bloque-revistas .edicion-impresa .swiper-revistas .swiper-wrapper {
    width: 100%;
}

/* .edicion-impresa .swiper-revistas .swiper-slide {
    width: 100% !important;
    max-width: 100%;
    box-sizing: border-box;
} */


@media (max-width: 1279px) {
    .bloque-actualidad .media_block {
        grid-template-columns: 2fr 1fr;
    }

    .bloque-opinion .op-dos .media_block .headline h2 {
        font-size: 16px;
    }

    .bloque-hogar .media_block {
        grid-template-columns: 2fr 1fr;
    }
}


@media (max-width: 991px) {

    .bloque-uno .noticias article:nth-child(1) .media_block,
    .bloque-uno .noticias article:nth-child(2) .media_block,
    .bloque-uno .noticias article:nth-child(3) .media_block,
    .bloque-uno .noticias article:nth-child(4) .media_block {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .bloque-uno .noticias article:nth-child(1) {
        border-bottom: 1px solid var(--gray);
        padding-bottom: 10px;
    }

    .bloque-uno .noticias article:nth-child(2) {
        padding-bottom: 10px;
    }

    .bloque-uno .noticias article:nth-child(4) {
        border-top: none;
        padding-top: 0;
    }

    .bloque-uno .noticias article:first-child {
        grid-row: 1 / span 1;
    }

    .bloque-patrocinado .noticias {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}


@media (min-width: 991px) and (max-width: 1279px) {
    .bloque-uno .sect-date .date {
        font-size: 9px;
    }

    .bloque-sostenibilidad .sos-tres .headline h2 {
        font-size: 16px;
    }
}


@media (max-width: 991px) {
    .car-main {
        flex-direction: column;
        align-items: flex-start;
    }

    .apertura-principal .headline h2{
        font-size: 24px;
    }

    .car-main .ava-tex {
        flex-direction: column;
        align-items: flex-start;
    }

    .bloque-especial .es-fot {
        flex-direction: column;
    }

    .bloque-sostenibilidad .sos-tres .headline h2 {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .mas-destacados .R_TIT {
        gap: 10px;
    }

    .mas-destacados .headline h2 {
        font-size: 12px;
    }


    .cover img {
        width: 100%;
        height: auto;
    }

    .slide-title,
    .slide-edition,
    .slide-btn {
        font-size: 9px;
    }

    .bloque-dos-revista {
        padding: 27px 0;
    }

    .cover {
        padding: 14px;
    }

    .investigacion-lista .noticias .media_block {
        grid-template-columns: repeat(1, 1fr);
    }

    .bloque-mundo .col-33-33-33-top-three-col .media_block {
        grid-template-columns: 1fr;
    }

    .bloque-opinion .op-dos .media_block {
        flex-direction: column;
    }

    .bloque-deportes .depo-tres .headline h2 {
        font-size: 13px;
    }

    .bloque-negocios .depo-tres .headline h2 {
        font-size: 13px;
    }

    .bloque-eventos .col-50-50-top-two-col .sect-date {
        flex-direction: column;
        align-items: flex-start;
    }

    .bloque-eventos .ev-tres .headline h2 {
        font-size: 14px;
    }

    .bloque-eventos .ev-dos .headline h2 {
        font-size: 18px;
    }

    .bloque-eventos .ev-dos .headline h2 {
        margin-top: 12px;
    }

    .bloque-cartas .noticias {
        flex-direction: column;
    }

    .bloque-especial .sect-date {
        align-items: flex-start;
        flex-direction: column;

    }

    .bloque-hogar .sect-date {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 12px;
    }

    .bloque-sostenibilidad .sos-uno .headline h2 {
        font-size: 16px;
    }

    .bloque-sostenibilidad .sos-dos .headline h2 {
        font-size: 13px;
    }

    .bloque-sostenibilidad .sos-dos .media_block {
        grid-template-columns: 1fr 1fr;
    }

    .bloque-sostenibilidad .sos-uno .subheadline h3 {
        font-size: 13px;
    }

    .bloque-sostenibilidad .sos-tres .noticias .media_block {
        display: flex;
        flex-direction: column-reverse;
    }




}

@media (max-width: 767px) {
    .bloque-uno .noticias .inf2 {
        display: none;
    }

      .bloque-hogar .sect-date {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 12px;
    }

    .mas-destacados .teaser-viewer-title {
        margin-top: 36px;
    }

    .investigacion-lista .noticias {
        grid-template-columns: repeat(1, 1fr);
    }

    .investigacion-principal .media_block {
        flex-direction: column;
    }

    .investigacion-principal {
        padding-bottom: 32px;
    }

    .investigacion-lista {
        padding-top: 32px;
    }

    .investigacion-principal .headline h2 {
        font-size: 20px;
    }

    .ly-12investigacion {
        padding-right: 1%;
        padding-left: 1%;
    }

    .bg-investigacion {
        padding: 36px 12px;

    }

    .bloque-actualidad .titulo-inter {
        padding-top: 32px;
    }

    .bloque-actualidad .act-inter .noticias article:nth-child(2) {
        border-bottom: none;
        border-top: none;
    }

    .bloque-actualidad .act-nac {
        padding-bottom: 32px;
        border-bottom: 1px solid var(--gray);
    }

    .bloque-mundo .col-33-33-33-top-two-col .noticias {
        margin-top: 36px;
        margin-bottom: 36px;

    }

    .bloque-mundo .col-33-33-33-top-three-col .media_block {
        grid-template-columns: 2fr 1fr;
    }

    .bloque-opinion .op-dos .noticias {

        grid-template-columns: 1fr;
        column-gap: 24px;
    }

    .bloque-opinion .op-dos .noticias article:nth-child(3),
    .bloque-opinion .op-uno .noticias article {
        border-bottom: 1px solid var(--gray);
        margin-bottom: 24px;
        padding-bottom: 24px;
    }

    .bloque-deportes .depo-dos .noticias article:nth-child(3) {
        border-bottom: 1px solid var(--gray);
        margin-bottom: 16px;
        padding-bottom: 16px;
    }

    .bloque-deportes .depo-uno .noticias article {
        border-bottom: 1px solid var(--gray);
        margin-bottom: 16px;
        padding-bottom: 16px;
    }

    .bloque-negocios .depo-dos .noticias article:nth-child(3) {
        border-bottom: 1px solid var(--gray);
        margin-bottom: 16px;
        padding-bottom: 16px;
    }

    .bloque-negocios .depo-uno .noticias article {
        border-bottom: 1px solid var(--gray);
        margin-bottom: 16px;
        padding-bottom: 16px;
    }

    .bloque-patrocinado .noticias {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .bloque-eventodelmes .media_block {
        grid-template-columns: 1fr;
    }

    .bloque-eventodelmes {
        padding: 36px 12px;
    }

    .bloque-eventos .ev-dos .noticias article:nth-child(1),
    .bloque-eventos .ev-uno .noticias article:nth-child(1) {
        border-bottom: 1px solid var(--gray);
        margin-bottom: 16px;
        padding-bottom: 16px;
    }

    .bloque-eventos .ev-dos .sect-date,
    .bloque-eventos .ev-uno .sect-date {
        margin-top: 16px;
    }


    .bloque-eventos .col-50-50-top-two-col {
        flex-direction: column;
    }

    .bloque-cartas .noticias {
        flex-direction: column;
    }

    .car-main .b-texto p {
        font-size: 16px;
    }

    .bloque-cartas .headline h2 {
        font-size: 20px;
    }

    .bloque-especial .noticias {
        grid-template-columns: 1fr;
    }

    .bloque-especial .noticias {
        margin-top: 36px;
    }

    .bloque-hogar .ho-uno .noticias {
        margin-bottom: 36px;
    }


    .bloque-hogar {
        padding: 12px 12px 42px 12px;
    }

    .titulo-hogar {
        padding: 42px 18px 22px 18px
    }

    .bloque-servicios .noticias article:nth-child(2) {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid var(--gray);
    }

    .bloque-sostenibilidad .sos-uno {
        margin-bottom: 24px;
    }

    .bloque-sostenibilidad .sos-uno .media_block {
        display: flex;
        flex-direction: column;

        background: var(--bone);
    }

    .bloque-sostenibilidad .sos-uno .media_block .text_block {
        padding: 18px;
    }


    .bloque-sostenibilidad .sos-tres .noticias {
        grid-template-columns: 1fr;
    }

    .bloque-sostenibilidad .sos-tres .noticias .media_block {
        grid-template-columns: 2fr 1fr;
    }

    .bloque-revistas {
        padding: 20px 12px;
    }

}