:root {
    --gray: #D4D4D4;
    --red: #CC1114;
}


/* APERTURA */

.apertura-principal .media_block {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.apertura-principal .media_block>* {
    flex: 1 1 300px;
}

.sect-date {
    display: flex;
    gap: 8px;
    align-items: center;
}


.sect-date .article-section .section {
    background: #F3F5F8;
    padding: 8px;
    font-size: 13px;
}

.sect-date .date {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}

.sect-date .date::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--red);
    /* rojo */
    border-radius: 50%;
    display: inline-block;
}


.apertura-principal .headline h2 {
    font-size: 24px;
}

.apertura-principal .autor-nombre {
    padding: 16px 0;
}

.apertura-principal .subheadline h3 {
    font-size: 14px;
}

.mas-destacados .R_TIT {
    display: flex;
    gap: 20px;
}

.mas-destacados .headline h2 {
    font-size: 14px;
}

.mas-destacados .r_numeracion {
    font-size: 18px;
    color: var(--red);
}

.mas-destacados article {
    border-bottom: 1px solid var(--gray);
    padding: 16px 0;
}

.mas-destacados .teaser-viewer-title {
    position: relative;
    padding-bottom: 13px;
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid var(--gray);
}

.mas-destacados .teaser-viewer-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(60%);
    height: 4px;
    width: 30px;
    background: var(--red);

}

/* APERTURA SECUNDARIO */

.bloque-uno .noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* izquierda más grande */
    gap: 24px;
}

/* Primer artículo ocupa toda la columna izquierda */
.bloque-uno .noticias article:first-child {
    grid-row: 1 / span 3;
    /* ocupa el alto de los 3 de la derecha */
}

/* Opcional: que los demás se comporten como lista vertical */
.bloque-uno .noticias article:not(:first-child) {
    display: block;
}


.bloque-uno .headline h2 {
    font-size: 24px;
}

.bloque-uno .headline h2 {
    font-size: 16px;
}

.bloque-uno .noticias article:nth-child(1) .media_block {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.bloque-uno .noticias article:nth-child(2) {
    border-bottom: 1px solid var(--gray);
    padding-bottom: 24px;
}

.bloque-uno .noticias article:nth-child(4) {
    border-top: 1px solid var(--gray);
    padding-top: 24px;
}

.bloque-uno .noticias article:nth-child(2) .media_block,
.bloque-uno .noticias article:nth-child(3) .media_block,
.bloque-uno .noticias article:nth-child(4) .media_block {
    display: grid;
    gap: 24px;
    grid-template-columns: 2fr 1fr;
}


@media (max-width: 991px) {

    .bloque-uno .noticias article:nth-child(1) .media_block,
    .bloque-uno .noticias article:nth-child(2) .media_block,
    .bloque-uno .noticias article:nth-child(3) .media_block,
    .bloque-uno .noticias article:nth-child(4) .media_block {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .bloque-uno .noticias article:nth-child(1) {
        border-bottom: 1px solid var(--gray);
        padding-bottom: 10px;
    }

    .bloque-uno .noticias article:nth-child(2) {
        padding-bottom: 10px;
    }

    .bloque-uno .noticias article:nth-child(4) {
        border-top: none;
        padding-top: 0;
    }

    .bloque-uno .noticias article:first-child {
        grid-row: 1 / span 1;
    }
}


@media (min-width: 991px) and (max-width: 1279px) {
    .bloque-uno .sect-date .date {
        font-size: 9px;
    }
}





@media (min-width: 768px) and (max-width: 991px) {
    .mas-destacados .R_TIT {
        gap: 10px;
    }

    .mas-destacados .headline h2 {
        font-size: 12px;
    }
}