:root {
    --gray: #D4D4D4;
    --red: #CC1114;
}
body {
    font-family: 'Zalando Sans', sans-serif;
}
.col-md-8{
    padding-right: 2rem;
}
div#iter-content-wrapper {
    margin-top: 20px;
}

/* ======== LISTADO DE NOTAS ======== */
.listado_notas article.article {
    border-bottom: 1px solid var(--gray);
    padding: 0 0 25px 0;
    margin-bottom: 25px;
}
.listado_notas .media_block{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    gap: 30px;
}
.listado_notas .autor-nombre,
.listado_notas .article-section,
.listado_notas .sect-date{
    display: none;
}
.listado_notas .text_block  a{
    text-decoration: none;
}
.listado_notas .headline h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    margin: 0 0 12px 0;
    color: black;
}
.listado_notas .subheadline h3 {
    font-size: 14px;
    color: #555555 !important;
    line-height: 1.5;
    margin: 0;
    font-weight: 400;
}

/* Titulo del Bloque*/
.section-title,
.title-tag.article-topics-portlet {
    position: relative;
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid var(--gray);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 36px;
}
.section-title .title,
.title-tag .portlet-msg-alert {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}
.section-title::after,
.title-tag .portlet-msg-alert::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(60%);
    height: 4px;
    width: 30px;
    background: var(--red);
}

/* ======== DESTACADAS ======== */
.mas-destacados{
    margin-top: 0.5rem;
}
.iter-rankingtab-mostrecent-hd, 
.iter-rankingtab-mostviewed-hd {
    display: none;
}
.section-title.destacados{
    margin-bottom: 0;
    margin-top: 3rem;
}
.mas-destacados .R_TIT {
    display: flex;
    gap: 35px;
    border-bottom: 1px solid var(--gray);
    padding: 20px 0;
}
.mas-destacados .headline a{
  color: #000;
  text-decoration: none;
}
.mas-destacados .headline h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.mas-destacados .r_numeracion {
  font-size: 18px;
  font-weight: 500;
  color: var(--red);
}
.mas-destacados .R_TIT.last{
  border-bottom: 1px solid transparent;
}

/* Paginador */
.listado_notas .carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    margin-top: 3rem;
}
.listado_notas .carrusel ul li {
    cursor: pointer;
    padding: 0 5px;
}
.listado_notas .prev-button,
.listado_notas .next-button{
    background: var(--red);
    padding: 0.5rem;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.listado_notas .carrusel ul {
    display: flex;
    align-items: center;
    gap: 25px;
}
.listado_notas .carrusel ul .nav-page-selected{
    color:  var(--red);
    text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 991px) {
  .mas-destacados .R_TIT {
      gap: 10px;
  }
  .mas-destacados .headline h2 {
      font-size: 12px;
  }
}

@media (max-width: 767px) {
.col-md-8{
    padding-right: 0;
}
.listado_notas .media_block{
    gap: 20px;
}
.listado_notas .headline h2{
    font-size: 14px;
}
.listado_notas .subheadline h3 {
    font-size: 13px;
    line-height: 1.2;
}
.listado_notas article:nth-child(8){
    border-bottom: 1px solid transparent;
}
.iter-content-wrapper.iter-droppable-zone .row>* {
    padding-right: 4%;
    padding-left: 4%;
    margin-top: 0;
}
}



