.video-item-teca img {
    width: 100%; /* Ajuste por defecto para imágenes */
     /*height: auto; Mantener la proporción */
}

.video-item-teca p {
    color: white;
    font-size: 16px;
    margin: 0;
}

.video-item-teca p:hover {
    color: red;
}

@media (max-width: 700px) { /* Media query para pantallas menores de 600px */
    .video-item-teca{
        display: flex;
        justify-content: space-between;
    }
    
    .video-item-teca img {
        width: 25%; /* Reducir el tamaño de las imágenes a la mitad en móviles */
        margin-bottom: -5px;
    }

    .video-item-teca p {
        font-size: 12px; /* Reducir el tamaño de la fuente a 12px en móviles */
        padding-top: 10px;
        padding-left: 5px;
    }
    #col-60-40-top-two-col{
        display: flex;
        flex-direction: column;
        height: 250px;
        overflow-y: auto;
    }
}

