
/* quitar a todad a el ::after */

.navbar-nav li a::after {
    display: none;
}

.child-nav.cf{
    position: absolute;
    background: #000;
    padding: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

ul div li{
    /* quitar los stilo del li */
    display: block;
}

.child-nav.cf li a{
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px;
    transition: all 0.5s ease;
    font-weight: 400;
    font-family: 'Crete Round';
}

.child-nav.cf li:hover{
    /* la letra en la etiqueta a cambia a negra */
    background: #fff;
}

.child-nav.cf li:hover a{
    /* la letra en la etiqueta a cambia a negra */
    color: #000;
}
.logo_header{
    float: left;
    min-width: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.logo_header div a.site-logo {
    width: 142px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 15px;
    margin-left: 15px;
    background-position: center;
    padding-top: 160px;
}

.site-logo{
    background-image: url("https://www.vistazo.com/base-portlet/webrsrc/ctxvar/09cf4574-37e5-4ec5-a696-d723bcb7a274.png");
}
