
#menu_2318300398 .menu_secc  .tab-grp {
    position: relative;
}

#menu_2318300398 .menu_secc  .child-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#menu_2318300398 .menu_secc  .tab-grp:hover .child-nav {
    display: block;
}

#menu_2318300398 .menu_secc  .child-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu_2318300398 .menu_secc  .child-nav ul .lst-item {
    padding: 8px 16px;
}

#menu_2318300398 .menu_secc  .child-nav ul .lst-item a {
    text-decoration: none;
    color: black;
    display: block;
}

#menu_2318300398 .menu_secc  .child-nav ul .lst-item a:hover {
    background-color: #f1f1f1;
}
