.portlet-boundary.LIVE_BLOG_POST {
    font-family: Arial, sans-serif ;
    color: #333 ;
    margin-bottom: 25px;

    /* padding-left: 40px !important;*/
    /* Espacio adicional para evitar superposición con la línea */
  }

  .v2 {
    background: #fff !important;
    padding: 20px !important;
    position: relative !important;
    /* Posicionamiento relativo para la línea general */
  }

  .item_post {
    position: relative !important;
    /* Importante para el posicionamiento de la línea */
    padding-left: 20px !important;
    /* Espacio para la línea y punto */
    margin-left: 10px !important;
    /* Asegurar espacio para la línea vertical */
  }

  .item_line {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    height: 100% !important;
    /* Altura total del post */
  }

  .point_post {
    width: 10px !important;
    height: 10px !important;
    background-color: #a70808 !important;
    border-radius: 50% !important;
    position: absolute !important;
    left: -15px !important;
    /* Ajuste para centrar */
    top: 10px !important;
  }

  .vertical-line {
    position: absolute !important;
    width: 2px !important;
    /* Ancho de la línea */
    background-color: #a70808 !important;
    /* Color de la línea */
    left: -11px !important;
    top: 20px !important;
    /* Comienzo de la línea después del punto */
    bottom: 0px !important;
    /* Ajuste para no sobrepasar el último item */
    height: calc(100% + 20px) !important;
    /* Altura total del post */
  }

  .item_content {
    margin-left: 15px !important;
    /* Espacio adicional para contenido */
  }

  .date_post {
    font-size: 0.8rem !important;
    color: #a70808 !important;
  }

  .headline_post {
    font-size: 1.2rem !important;
    font-weight: bold !important;
    margin-top: 5px !important;
  }

  .text_post p {
    margin-top: 10px !important;
  }

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  
}
.linea_hr {
  border-top: 1px solid #ccc; /* Estilo de la línea */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Agrega sombra debajo de la línea */
}

.social-icons a img {
  width: 24px; /* O el tamaño que prefieras */
  height: auto;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1px;
  margin-bottom: 20px;

}

.social-icons a img {
  width: 24px; /* O el tamaño que prefieras */
  height: auto;
  cursor: pointer;
  margin-right: 10px;
  background-color: #a70808;
  padding: 5px;
  border-radius: 50%;
  margin-top: 5px;
}  

.item_post.p_4 {
  background: #e5e7e9;
  padding-top: 5px;
  padding-bottom: 5px;
}

.image_post {
  width: 100%; /* Asegura que el contenedor de la imagen ocupe todo el ancho disponible de su contenedor padre */
  overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde del contenedor */
}

.image_post img {
  width: 100%; /* Hace que la imagen ocupe el 100% del ancho de su contenedor */
  height: auto; /* Mantiene la relación de aspecto de la imagen */
  display: block; /* Elimina cualquier espacio extra alrededor de la imagen */
}
