@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


/* INICIO - MENU*/
.menuParent {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 0px 0px;
  padding: 12px 12px;
  background: #ffffff;
}

.menuParent .menuItems a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuParent svg {
  width: 50px;
}

/* .st0 {
  fill: #F43A37;
} */

.gr_cen {
  text-align: center;
}

.gr_cen img {
  width: 200px;

}

.gr_iz,
.gr_der {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.gr_derMenu {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
}

.menuToggle,
.menuSearch {
  display: none;
}

.menuToggle svg {}

#menuMobileList {
  padding: 12px;
}

#menuMobileList .listmen {
  display: flex;
  flex-direction: column;

}

@media (max-width: 767px) {

  .menuToggle,
  .menuSearch {
    display: block;
  }

  .gr_cen {
    text-align: start;
  }

  .gr_cen img{
    width: 150px;
  }

  .gr_iz,
  .gr_der {
    display: none;
  }

  .menuParent {
    grid-template-columns: 2fr 1fr;
  }
}

/* FIN - MENU*/



/*inicio - salud y nutricion*/


#bq-002 {
  background: #1b45f3;
  padding: 30px 0;
}


.bloques_general .noticias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.bloques_general .noticias article .text_block .headline h2 {
  line-height: 34px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 700;
  font-family: "Dosis", sans-serif !important;
}

.bloques_general.snutricion .noticias article .text_block .headline h2 {
  color: #fff;
 
}

.bloques_general.snutricion .noticias article .text_block {
  background: #f33a37;
}

.vmasSN a {
  margin-bottom: 30px;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}

.t_cin.sn {
  text-align: center;
  margin-bottom: 30px;
  font-size: 34px;
  color: #fff;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;


}

/*fin - salud y nutricion*/

/*inicio - testimonios*/

#bq-003 {
  background: #f33a37;
  padding: 30px 0;
}

.bloques_general.testimonios .noticias article .text_block {
  background: #f3cc29;
}

.bloques_general.testimonios .noticias article .text_block .headline h2 {
  color: #974ecb;
}

.t_cin.testim {
  text-align: center;
  margin-bottom: 30px;
  font-size: 34px;
  color: #fff;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vmasTes a {
  margin-bottom: 30px;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}


/*fin - testimonios*/

/*inicio - testimonios*/

#bq-003 {
  background: #f33a37;
  padding: 30px 0;
}

.bloques_general.testimonios .noticias article .text_block {
  background: #f3cc29;
}

.bloques_general.testimonios .noticias article .text_block .headline h2 {
  color: #974ecb;
}

.t_cin.testim {
  text-align: center;
  margin-bottom: 30px;
  font-size: 34px;
  color: #fff;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vmasTes a {
  margin-bottom: 30px;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}


/*fin - testimonios*/



/*inicio - Pet school*/
#bq-004 {
  background: #73f6ce;
  padding: 30px 0;
}

.bloques_general.ps .noticias article .text_block {
  background: #f3cc29;
}

.bloques_general.ps .noticias article .text_block .headline h2 {
  color: #974ecb;
}

.t_cinPs {
  text-align: center;
  margin-bottom: 30px;
  font-size: 34px;
  color: #9850c8;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vmasPs a {
  margin-bottom: 30px;
  font-size: 24px;
  color: #9b4ec3;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}

/*fin - Pet school*/


/*inicio - virales*/
#bq-005 {
  background: #f3cc29;
  padding: 30px 0;
}

.bloques_general.vi .noticias article .text_block {
  background: #f33a37;
}

.bloques_general.vi .noticias article .text_block .headline h2 {
  color: #fff;
}

.t_cinVi {
  text-align: center;
  margin-bottom: 30px;
  font-size: 34px;
  color: #f33a37;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vmasVi a {
  margin-bottom: 30px;
  font-size: 24px;
  color: #f33a37;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}

/*fin - virales*/

/*inicio - concursos*/
#bq-006 {
  background: #9a4fc6;
  padding: 30px 0;
}

.bloques_general.con .noticias article .text_block {
  background: #f3cc29;
}

.bloques_general.con .noticias article .text_block .headline h2 {
  color: #113fff;
}

.t_cinCon {
  text-align: center;
  margin-bottom: 30px;
  font-size: 34px;
  color: #fff;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vmasCon a {
  margin-bottom: 30px;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}

/*fin - concursos*/




@media (max-width: 767px) {
  .bloques_general .noticias {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 0 12px;
  }
}