@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* INICIO - MENU*/

html {
  overflow-x: hidden;
}

.col-100-top-one-col {
  margin-top: 0;
}

.waves-menu-vtz {
  width: 100.1%;
  height: auto;
  position: absolute;
}

.sb_mascotas {
  margin-top: 10px;
  position: absolute;
  right: 22px;
  top: 55px;
  background: #fff;
  box-shadow: 0 2px 6px rgb(0 0 0 / 18%);
  padding: 10px;
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 5px;
  display: none;
}

.sb_mascotas .iter-button-input-submit {
  height: 32px;
  min-width: 67px;
  line-height: 17px;
  padding: 7px 15px 8px;
  text-shadow: none;
  vertical-align: top;
  right: 20px;
  margin: 0 !important;
  -webkit-transition: background-color .4s;
  -moz-transition: background-color .4s;
  -o-transition: background-color .4s;
  transition: background-color .4s;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #222;
  border-radius: 0;
  color: #fff;
  border: none;
  font-weight: normal;
  font-weight: 500;
  font-family: "Dosis", sans-serif !important;
}

.sb_mascotas .iter-field-input-text {
  height: 32px;
  width: 140px;
  height: 32px;
  margin: 0;
  border-right: 0;
  line-height: 17px;
  border-color: #eaeaea !important;
  font-size: 12px;
  color: #444;
  border: 1px solid #e1e1e1;
  max-width: 100%;
  padding: 3px 9px;
  outline: none;
}

.menuParent {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 0px 0px;
  padding: 12px 12px;
}

.menuParent .menuItems a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menuParent svg {
  width: 50px;
}

/* .st0 {
  fill: #F43A37;
} */

.gr_cen {
  text-align: center;
}

.gr_cen img {
  width: 200px;

}

.gr_iz,
.gr_der {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.gr_derMenu {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
}

.menuToggle,
.menuSearch {
  display: none;
}

.menuToggle svg {}

#menuMobileList {
  padding: 12px;
}

#menuMobileList .listmen {
  display: flex;
  flex-direction: column;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 767px) {

  .menuToggle,
  .menuSearch {
    display: block;
  }

  .gr_cen {
    text-align: start;
  }

  .gr_cen img {
    width: 150px;
  }

  .gr_iz,
  .gr_der {
    display: none;
  }

  .menuParent {
    grid-template-columns: 2fr 1fr;
  }
}

/* FIN - MENU*/




/* INICIO - SUBSECCIONES*/

.ly-mascotas-sub-2024 {
  padding: 80px 0 50px 0;
}

.bloques_subseccion .noticias {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.bloques_subseccion .noticias article .text_block .headline h2 {
  line-height: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 700;
  font-family: "Dosis", sans-serif !important;
}

.t_cin_sub {
  text-align: start;
  margin: 0 0 10px 0;
  font-size: 34px;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 34px;
}

@media (max-width: 767px) {
  .bloques_subseccion .noticias {
    grid-template-columns: 1fr;
  }
}


/*INICIO - SUBSECCIONES*/



/*inicio - apertura*/

#bq-001 {
  background: #974ecb;
  padding: 80px 0 30px 0;
  background-image: url('https://estadisticas.ecuavisa.com/sites/gestor/assets-rd%2Ffondosalud.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ap_portada {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ap_items {
  padding: 0 100px;
  display: none;
}

.swiper-button-next,
.swiper-button-prev {

  /* --swiper-navigation-size: 44px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: -10px;
  --swiper-navigation-color: var(--swiper-theme-color); */
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: url("https://estadisticas.ecuavisa.com/sites/gestor/assets-rd%2Fflecha-izq.png") !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: url("https://estadisticas.ecuavisa.com/sites/gestor/assets-rd%2Fflecha-der.png") !important;

}


.swiper {
  overflow: visible !important;
}

.swiper-button-prev {
  left: -60px !important;
}

.swiper-button-next {
  right: -60px !important;
}

/* .swiper-button-next, .swiper-button-prev{
  top: 100px;

} */

/*fin - apertura*/



/*inicio - salud y nutricion*/


#bq-002 {
  background: #1b45f3;
  padding: 30px 0;
  background-image: url('https://estadisticas.ecuavisa.com/sites/gestor/assets-rd%2Ffondosalud.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.bloques_general .noticias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.bloques_general .noticias article .text_block .headline h2 {
  line-height: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 700;
  font-family: "Dosis", sans-serif !important;
}

.bloques_general.snutricion .noticias article .text_block .headline h2 {
  color: #fff;
}

.bloques_general.snutricion .noticias article {
  background: #f33a37;
}

.bloques_general.snutricion .noticias article .text_block {
  background: #f33a37;
}


.vmasSN {
  margin-top: 15px;
}

.vmasSN a {
  margin-bottom: 30px;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}

.t_cin.sn {
  text-align: center;
  margin-bottom: 30px;
  font-size: 34px;
  color: #fff;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;


}

/*fin - salud y nutricion*/

/*inicio - testimonios*/

#bq-003 {
  background: #f33a37;
  padding: 30px 0;
  background-image: url('https://estadisticas.ecuavisa.com/sites/gestor/assets-rd%2Ffondotestimonios.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bloques_general.testimonios .noticias article {
  background: #f3cc29;
}

.bloques_general.testimonios .noticias article .text_block {
  background: #f3cc29;
}

.bloques_general.testimonios .noticias article .text_block .headline h2 {
  color: #974ecb;
}

.t_cin.testim {
  text-align: center;
  margin-bottom: 30px;
  font-size: 34px;
  color: #fff;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vmasTes {
  margin-top: 15px;
}


.vmasTes a {
  margin-bottom: 30px;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}


/*fin - testimonios*/


/*inicio - Pet school*/
#bq-004 {
  background: #73f6ce;
  padding: 30px 0;
  background-image: url('https://estadisticas.ecuavisa.com/sites/gestor/assets-rd%2Ffondopet-school.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bloques_general.ps .noticias article {
  background: #f3cc29;
}


.bloques_general.ps .noticias article .text_block {
  background: #f3cc29;
}

.bloques_general.ps .noticias article .text_block .headline h2 {
  color: #974ecb;
}

.t_cinPs {
  text-align: center;
  margin-bottom: 30px;
  font-size: 34px;
  color: #9850c8;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vmasPs {
  margin-top: 15px;
}



.vmasPs a {
  margin-bottom: 30px;
  font-size: 24px;
  color: #9b4ec3;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}

/*fin - Pet school*/


/*inicio - virales*/
#bq-005 {
  background: #f3cc29;
  padding: 30px 0;
  background-image: url('https://estadisticas.ecuavisa.com/sites/gestor/assets-rd%2Ffondovirales.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}


.bloques_general.vi .noticias article {
  background: #f33a37;
}

.bloques_general.vi .noticias article .text_block {
  background: #f33a37;
}

.bloques_general.vi .noticias article .text_block .headline h2 {
  color: #fff;
}

.t_cinVi {
  text-align: center;
  margin-bottom: 30px;
  font-size: 34px;
  color: #f33a37;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vmasVi {
  margin-top: 15px;
}


.vmasVi a {
  margin-bottom: 30px;
  font-size: 24px;
  color: #f33a37;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}

/*fin - virales*/

/*inicio - concursos*/
#bq-006 {
  background: #9a4fc6;
  padding: 30px 0;
  background-image: url('https://estadisticas.ecuavisa.com/sites/gestor/assets-rd%2Ffondoconcursos.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bloques_general.con .noticias article {
  background: #f3cc29;
}

.bloques_general.con .noticias article .text_block {
  background: #f3cc29;
}

.bloques_general.con .noticias article .text_block .headline h2 {
  color: #113fff;
}

.t_cinCon {
  text-align: center;
  margin-bottom: 30px;
  font-size: 34px;
  color: #fff;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vmasCon {
  margin-top: 15px;
}


.vmasCon a {
  margin-bottom: 30px;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}

/*fin - concursos*/




/*INICIO - FOOTER*/

.parentFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  padding: 30px 0;
  font-family: "Dosis", sans-serif !important;
  font-weight: 600;
  font-size: 16px;
  color: #113fff;
}

/*FIN - FOOTER*/


@media (max-width: 767px) {
  .bloques_general .noticias {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 0 12px;
  }
}



/**************************
INICIO - AMPLIADA
****************************/

.ly-ampliada-mascotas .detail_hogar_parent {
  margin-top: 60px;
  margin-bottom: 40px;
}


.ly-ampliada-mascotas .detail_mascotas_titulo h1 {
  font-weight: 700;
  font-family: "Dosis", sans-serif !important;
  color: #9a4fc6;
  ;
}

.ly-ampliada-mascotas .temas {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}

.ly-ampliada-mascotas .temas .temas_head {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;

}

.ly-ampliada-mascotas .item_tema.t_3.keywords a {
  background: #9a4fc6;
  color: #fff;
  padding: 2px 16px;
  text-decoration: none;
  display: block;
  width: max-content;
  font-size: 12px;
}

.ly-ampliada-mascotas .detail_hogar.c_003_018 .element .text_block .headline a {
  text-decoration: none;
}

.ly-ampliada-mascotas .detail_hogar.c_003_018 .element .text_block {
  background: #f3cc2a;
}


.ly-ampliada-mascotas .detail_hogar.c_003_018 .element .text_block .headline a h2 {
  color: #9a4fc7;
  line-height: 22px;
  font-style: normal;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 700;
  font-family: "Dosis", sans-serif !important;
}

.ly-ampliada-mascotas .tit_populares {
  margin-bottom: 10px;
}

.ly-ampliada-mascotas .inf2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ly-ampliada-mascotas .partea {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ly-ampliada-mascotas .partea a {
  text-decoration: none;
  color: black;
}

.ly-ampliada-mascotas .text_por {
  margin-right: 5px;
}

.ly-ampliada-mascotas .iter-tabview-content ul li {
  display: none;
}



/**************************
FIN - AMPLIADA
****************************/